# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Ambientes virtuais
venv/
.venv/
env/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistemas operacionais
.DS_Store
Thumbs.db
desktop.ini

# Logs e temporários
*.log
*.tmp
*.bak
